@CHARSET "UTF-8";

body {
	text-align: center;
	font-family: verdana;
}

canvas {
	margin-top: 0px;
	cursor: crosshair;
}

div.buttonHolder {
	padding: 15px;
}

span.button {
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
	background-color: #cccccc;
	border: 1px solid gray;
}

span.button:hover {
	background-color: #44ff00;
	border: 1px solid black;
}

img {
	border:	1px solid black;
}
